.react-datepicker {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: #000;
  border: none;
}

.react-datepicker__day, .react-datepicker__day-name {
  width: 40px;
  line-height: 40px;
}

.react-datepicker__day-name {
  font-weight: 600;
}

.react-datepicker__day--selected {
  background-color: #3b82f6;
}

.react-datepicker__header {
  background-color: white;
  border-bottom: none;
  padding: 0;
}

.react-datepicker__current-month {
  line-height: 45px;
  height: 45px;
  font-size: 17px;
  color: #3b82f6;
}

.react-datepicker__navigation {
  top: 12px;
}